.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  max-width: 100%;
  height: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

@media (min-width: 48rem) {
  .col--2 {
    grid-column: span 2;
  }

  .col--6 {
    grid-column: span 6;
  }
}
